In [5]:
import numpy as np
import pandas as pd

In [6]:
cars = pd.read_excel('C:\\Users\\Alon\Desktop\\קורסים\\מדעי הנתונים\\big_cars_data.xlsx')
cars.head(10)

,index,version,year,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,2019,1798 ליטר בנזין,48000,1,אוטומטי,לבן,ליסינג,5 חודשים,"‏1,811 ₪",116770
1,1,מרצדס E קלאס E250 AMG EDITION,2016,1991 ליטר בנזין,119000,4,אוטומטי,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
2,2,מרצדס E קלאס E250 AMG EDITION,2016,1991 ליטר בנזין,119000,4,אוטומטי,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
3,3,אאודי A4,2019,1984 ליטר בנזין,67000,1,אוטומטי,לבן,פרטית,4 חודשים,"‏3,366 ₪",179900
4,4,רנו פלואנס E1,2012,1461 ליטר דיזל,440000,2,אוטומטי,לבן,פרטית,11 חודשים,"‏1,262 ₪",21000
5,5,פורד S-MAX TREND,2013,1999 ליטר בנזין,160000,2,אוטומטי,כסף,פרטית,4 חודשים,"‏1,693 ₪",37500
6,6,וולבו XC90 T6 MOMENTUM,2016,1969 ליטר בנזין,113000,2,אוטומטי,שחור,פרטית,1 חודשים,"‏3,357 ₪",199000
7,7,אלפא רומיאו סטלביו SPECIALE,2018,1995 ליטר בנזין,70000,2,אוטומטי,לבן,פרטית,8 חודשים,"‏3,357 ₪",209000
8,8,אלפא רומיאו סטלביו SPECIALE,2018,1995 ליטר בנזין,70000,2,אוטומטי,לבן,פרטית,8 חודשים,"‏3,357 ₪",209000
9,9,סוזוקי ג'ימני GLX,2016,1328 ליטר בנזין,115000,3,אוטומטי,לבן,ליסינג,11 חודשים,"‏1,205 ₪",87900

In [8]:
len(cars.version.unique())
cars.version.unique()
#CompanyName = cars['version'].apply(lambda x : x.split(' ')[0])
#cars.insert(2,"CompanyName",CompanyName)

cars.head(5)

,index,version,CompanyName,year,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798 ליטר בנזין,48000,1,אוטומטי,לבן,ליסינג,5 חודשים,"‏1,811 ₪",116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,אוטומטי,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,אוטומטי,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
3,3,אאודי A4,אאודי,2019,1984 ליטר בנזין,67000,1,אוטומטי,לבן,פרטית,4 חודשים,"‏3,366 ₪",179900
4,4,רנו פלואנס E1,רנו,2012,1461 ליטר דיזל,440000,2,אוטומטי,לבן,פרטית,11 חודשים,"‏1,262 ₪",21000

In [9]:
car_names = cars.CompanyName.unique()
car_names

array(['טויוטה', 'מרצדס', 'אאודי', 'רנו', 'פורד', 'וולבו', 'אלפא',
       'סוזוקי', 'יונדאי', 'סיטרואן', 'איסוזו', 'ניסאן', 'פיאט', 'פורשה',
       'MG', 'מיצובישי', 'ב.מ.וו', "דאצ'יה", 'שברולט', "ג'יפ", 'סקודה',
       'ביואיק', 'הונדה', 'אופל', 'מאזדה', 'לקסוס', 'קיה', 'אינפיניטי',
       'פולקסווגן', "פיג'ו", 'DS', 'לנד', 'סאנגיונג', 'דייהטסו', 'סמארט',
       'מיני', 'קאדילאק', 'סיאט', 'סובארו', 'SERES', 'קופרה'],
      dtype=object)

In [10]:
#change the "gearBox" column to number:
cars.replace({'gearBox': 'ידני' } ,2 , inplace = True)

cars.replace({'gearBox': 'אוטומטי' } , 1 , inplace = True)

cars.head(5)

,index,version,CompanyName,year,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798 ליטר בנזין,48000,1,1,לבן,ליסינג,5 חודשים,"‏1,811 ₪",116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10 חודשים,"‏3,357 ₪",185000
3,3,אאודי A4,אאודי,2019,1984 ליטר בנזין,67000,1,1,לבן,פרטית,4 חודשים,"‏3,366 ₪",179900
4,4,רנו פלואנס E1,רנו,2012,1461 ליטר דיזל,440000,2,1,לבן,פרטית,11 חודשים,"‏1,262 ₪",21000

In [11]:
#change the "next_test_in" column to number:
cars['next_test_in'] = cars['next_test_in'].apply(lambda x : x.split(' ')[0])
cars.head(5)

,index,version,CompanyName,year,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798 ליטר בנזין,48000,1,1,לבן,ליסינג,5,"‏1,811 ₪",116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,"‏3,357 ₪",185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,"‏3,357 ₪",185000
3,3,אאודי A4,אאודי,2019,1984 ליטר בנזין,67000,1,1,לבן,פרטית,4,"‏3,366 ₪",179900
4,4,רנו פלואנס E1,רנו,2012,1461 ליטר דיזל,440000,2,1,לבן,פרטית,11,"‏1,262 ₪",21000

In [12]:
#cars['annual_licensing_fee'].astype(int):

def cov(value):
    if type(value) != int:
        value = value.replace('\u200f', '').replace('\xa0₪', '').replace(',', '')
        return int(value)
    return value
    
cars['annual_licensing_fee'] = cars['annual_licensing_fee'].apply(cov)

cars.head(5)

,index,version,CompanyName,year,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798 ליטר בנזין,48000,1,1,לבן,ליסינג,5,1811,116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
3,3,אאודי A4,אאודי,2019,1984 ליטר בנזין,67000,1,1,לבן,פרטית,4,3366,179900
4,4,רנו פלואנס E1,רנו,2012,1461 ליטר דיזל,440000,2,1,לבן,פרטית,11,1262,21000

In [13]:
engine_size = cars ['engine'].apply (lambda x : x.split (' ')[0])
cars.insert( 4 , "engine_size" , engine_size)

cars.head(5)

,index,version,CompanyName,year,engine_size,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798,1798 ליטר בנזין,48000,1,1,לבן,ליסינג,5,1811,116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
3,3,אאודי A4,אאודי,2019,1984,1984 ליטר בנזין,67000,1,1,לבן,פרטית,4,3366,179900
4,4,רנו פלואנס E1,רנו,2012,1461,1461 ליטר דיזל,440000,2,1,לבן,פרטית,11,1262,21000

In [14]:
def c_type (str) :
    if(len(str.split (' ')) == 3):
        return str.split (' ')[2]
    else: return None

engine_type = cars ['engine'].apply(c_type)
cars.insert( 5 , "engine_type" , engine_type) 

cars.head(5)

,index,version,CompanyName,year,engine_size,engine_type,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,2019,1798,בנזין,1798 ליטר בנזין,48000,1,1,לבן,ליסינג,5,1811,116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991,בנזין,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,2016,1991,בנזין,1991 ליטר בנזין,119000,4,1,כסוף בהיר,פרטית,10,3357,185000
3,3,אאודי A4,אאודי,2019,1984,בנזין,1984 ליטר בנזין,67000,1,1,לבן,פרטית,4,3366,179900
4,4,רנו פלואנס E1,רנו,2012,1461,דיזל,1461 ליטר דיזל,440000,2,1,לבן,פרטית,11,1262,21000

In [16]:
def itemToEnglish (item):
    if (item == "אלפא"): 
        item = 'alfa-romeo'  
    elif (item =='ניסאן'): 
        item = 'nissan'
    elif (item == "מאזדה"): 
        item = 'mazda'
    elif (item == "סובארו"): 
        item = 'subaru'
    elif (item == "מרצדס"): 
        item = 'mercedes'
    elif (item == "סיאט"): 
        item = 'siat'   
    elif (item == "סיטרואן"): 
        item = 'citroen'   
    elif (item == "טויוטה"): 
        item = 'toyota'   
    elif (item =="ג'יפ"): 
        item = 'jeep'   
    elif (item == "קיה"): 
        item = 'kia'   
    elif (item == "יונדאי"): 
        item = 'hyundai'   
    elif (item == "דייהטסו"): 
        item = 'daihatsu'   
    elif (item == "פורשה"): 
        item = 'porsche'   
    elif (item == "פיאט"): 
        item = 'fiat'   
    elif (item == "פורד"): 
        item = 'ford'   
    elif (item == "סוזוקי"): 
        item = 'suzuki'   
    elif (item == "דאצ'יה"): 
        item = 'dacia'   
    elif (item == "ב.מ.וו"): 
        item = 'bmw'   
    elif (item == "פיג'ו"): 
        item = 'peugeot'   
    elif (item == "מיצובישי"): 
        item = 'mitsubishi'   
    elif (item == "פולקסווגן"): 
        item = 'volkswagen'   
    elif (item == "רנו"): 
        item = 'reno' 
    elif (item == "הונדה"): 
        item = 'honda' 
    elif (item == "אאודי"): 
        item = 'audi' 
    elif (item == "סקודה"): 
        item = 'skoda' 
    elif (item == "מיני"): 
        item = 'mini' 
    elif (item == "אינפיניטי"): 
        item = 'infinity'
    elif (item == "לנד"): 
        item = 'landrover' 
    elif (item == "שברולט"): 
        item = 'chevrolet'
    elif (item == "אופל"): 
        item = 'opel'
    elif (item == "MG"): 
        item = 'MG'
    elif (item == "טסלה"): 
        item = 'tesla'
    elif (item == "'דודג"): 
        item = 'dodge'
    elif (item == "ביואיק"): 
        item = 'buick'
    elif (item == "יגואר"): 
        item = 'jaguar'   
    elif (item == "לקסוס"): 
        item = 'lexus' 
    elif (item == "סמארט"): 
        item = 'smart'
    elif (item == "סאנגיונג"): 
        item = 'sangiang'
    elif (item == "קאדילק"): 
        item = 'cadillac'
    elif (item == "קופרה"): 
        item = 'cupra'   
    elif (item == "קרייזלר"): 
        item = 'chrysler'
    elif (item == "מזארטי"): 
        item = 'maserati' 
    elif (item == "וולבו"): 
        item = 'volvo'
    elif (item == "איסוזו"): 
        item = 'isuzu'
    elif (item == "GMC"): 
        item = 'gmc'
    elif (item == 'DS'):
        item = 'ds'
    elif (item == "קאדילאק"):
        item = 'cadillac'
    elif (item == 'SERES'):
        item = 'seres'
    return item

In [49]:
#for x in car_names:
    #print(x + "\t" + itemToEnglish(x))

In [34]:
#adding col for each company - is_*companyName*

for x in car_names:
    engX = itemToEnglish(x)
    currentCol = cars['CompanyName'].apply(lambda t : 1 if t == x else 0)
    strCol = "is_" + engX
    cars.insert(3, strCol, currentCol)

#cars = cars.drop(columns="is_toyota")

ValueError: cannot insert is_toyota, already exists

In [50]:

cars.where(cars.is_subaru == 1).dropna()

,index,version,CompanyName,is_cupra,is_seres,is_subaru,is_siat,is_cadillac,is_mini,is_smart,...,engine_type,engine,current_mileage,hand,gearBox,color,original_onership,next_test_in,annual_licensing_fee,price
221,221.0,סובארו XV CROSSTREK SE,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1995 ליטר בנזין,35000.0,1.0,1.0,אפור,פרטית,3,2130.0,129900.0
599,599.0,סובארו אימפרזה RX,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1498 ליטר בנזין,240000.0,2.0,1.0,תכלת מטאלי,פרטית,2,1074.0,14000.0
600,600.0,סובארו XV 2.0 EYESIGHT,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1995 ליטר בנזין,83000.0,2.0,1.0,שחור,פרטית,9,1835.0,118000.0
601,601.0,סובארו XV 2.0 EYESIGHT,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1995 ליטר בנזין,83000.0,2.0,1.0,שחור,פרטית,9,1835.0,118000.0
602,602.0,סובארו XV 2.0 EYESIGHT,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1995 ליטר בנזין,83000.0,2.0,1.0,שחור,פרטית,9,1835.0,118000.0
629,629.0,סובארו פורסטר 2.0 OSAKA,סובארו,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,בנזין,1995 ליטר בנזין,92500.0,1.0,1.0,לבן,פרטית,7,2019.0,122400.0

In [57]:
def xToEnglish(x):
    if (x == 'פרטית'):
        return 'private'
    if (x == 'ליסינג'):
        return 'leasing'
    if (x == 'השכרה'):
        return 'rented'
    if (x == 'חברה'):
        return 'company'
    else:
        return 'private_import'

ownerOptions = cars['original_onership'].unique()

In [63]:
#cars['original_onership'].unique()
cars.columns.get_loc("original_onership")

52

In [64]:
for x in ownerOptions:
    engX = xToEnglish(x)
    currentCol = cars['original_onership'].apply(lambda t : 1 if t == x else 0)
    strCol = "is_" + engX
    cars.insert(cars.columns.get_loc("original_onership")+1, strCol, currentCol)

In [66]:
cars

,index,version,CompanyName,is_cupra,is_seres,is_subaru,is_siat,is_cadillac,is_mini,is_smart,...,color,original_onership,is_private_import,is_company,is_rented,is_private,is_leasing,next_test_in,annual_licensing_fee,price
0,0,טויוטה קורולה SUN,טויוטה,0,0,0,0,0,0,0,...,לבן,ליסינג,0,0,0,0,1,5,1811,116770
1,1,מרצדס E קלאס E250 AMG EDITION,מרצדס,0,0,0,0,0,0,0,...,כסוף בהיר,פרטית,0,0,0,1,0,10,3357,185000
2,2,מרצדס E קלאס E250 AMG EDITION,מרצדס,0,0,0,0,0,0,0,...,כסוף בהיר,פרטית,0,0,0,1,0,10,3357,185000
3,3,אאודי A4,אאודי,0,0,0,0,0,0,0,...,לבן,פרטית,0,0,0,1,0,4,3366,179900
4,4,רנו פלואנס E1,רנו,0,0,0,0,0,0,0,...,לבן,פרטית,0,0,0,1,0,11,1262,21000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,632,ב.מ.וו סדרה 1 116I BUSINESS,ב.מ.וו,0,0,0,0,0,0,0,...,שחור מטלי,פרטית,0,0,0,1,0,4,1693,63900
633,633,טויוטה יאריס SOL,טויוטה,0,0,0,0,0,0,0,...,אפור מטל,ליסינג,0,0,0,0,1,3,1353,55900
634,634,פיאט קובו ACTIVE,פיאט,0,0,0,0,0,0,0,...,לבן,חברה,0,1,0,0,0,11,1353,35000
635,635,פיאט קובו ACTIVE,פיאט,0,0,0,0,0,0,0,...,לבן,חברה,0,1,0,0,0,13,1424,22000
636,636,פיג'ו 208 PREMIUM,פיג'ו,0,0,0,0,0,0,0,...,צהוב,ליסינג,0,0,0,0,1,5,1529,111000

In [ ]:
#Trying to fill empty length of cars
    #first step - does an other car, of the same type, has length?

In [ ]:
#making a col of mini, small, medium or big car.
#assuming we're measuring in mm.
size_catagory = cars['*length_of_car*'].apply(lambda x : 'mini' if x < 3705 else ('small' if x < 4215 else ('medium' i f x < 4700 else 'big'))
#cars.insert(len(columns)-1, "size_catagory", size_catagory)

In [ ]:
#run AFTER we get length and the bullet ABOVE
for x in *theUniqueArrayOfLens*:
    currentCol = cars['*length_of_car*'].apply(lambda t : 1 if t == x else 0)
    strCol = "is_" + x
    cars.insert(cars.columns.get_loc("*length_of_car*")+1, strCol, currentCol)