In [153]:
import numpy as np
import sklearn
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn.compose import ColumnTransformer

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator , TransformerMixin

from sklearn.linear_model import LinearRegression

In [59]:
class CombinedAttributesAdder(BaseEstimator , TransformerMixin):
    def fit(self , X , y=None):
        #not complited

SyntaxError: unexpected EOF while parsing (<ipython-input-59-2e04a99f497b>, line 3)

In [154]:
x_train = pd.read_csv(r'C:\Users\Alon\Desktop\קורסים\מדעי הנתונים\ScaledTrainSet_data.csv' , index_col  = 'index')

In [155]:
x_train

,index.1,index.1.1,is_GAC,is_maserati,is_daihatsu,is_porsche,is_ds,is_smart,is_seres,is_cadillac,...,is_leasing,is_company,is_private,next_test_in,annual_licensing_fee,car_length,large,small,mini,medium
index,,,,,,,,,,,,,,,,,,,,,
1596,1608,1608,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.645547,0.764326,1,0,0,0
1322,1329,1329,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.188003,0.600759,0,0,0,1
1769,1782,1782,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.050377,0.652751,0,0,0,1
1188,1193,1193,0,0,0,0,0,0,0,0,...,1,0,0,0.583333,0.027266,0.493359,0,1,0,0
1161,1166,1166,0,0,0,0,0,0,0,0,...,0,0,1,0.833333,1.000000,0.489943,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1650,1650,0,0,0,0,0,0,0,0,...,0,0,1,0.333333,0.122825,0.518027,0,1,0,0
1095,1100,1100,0,0,0,0,0,0,0,0,...,0,0,1,0.416667,0.142041,0.813283,1,0,0,0
1130,1135,1135,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.295767,0.675522,0,0,0,1
1294,1300,1300,0,0,0,0,0,0,0,0,...,1,0,0,0.500000,0.241755,0.734345,0,0,0,1
860,865,865,0,0,0,0,0,0,0,0,...,0,0,0,0.916667,0.057647,0.485009,0,1,0,0

# Cross_Validation

In [156]:
x_target = pd.read_csv(r'C:\Users\Alon\Desktop\קורסים\מדעי הנתונים\TrainSet-target_data.csv' , index_col='index' )
#x_target

In [157]:
#Just to check - is the mean price valid?
x_target.mean()

price    104849.31825
dtype: float64

In [158]:
x_target[["price"]] = MinMaxScaler().fit_transform(x_target[["price"]]) 
x_target = x_target["price"]

In [159]:
#We decided to drop 'annual_licensing_fee' col because it is a function of each car's price.
    #x_train.drop(columns = "annual_licensing_fee", inplace=True)

x_train

,index.1,index.1.1,is_GAC,is_maserati,is_daihatsu,is_porsche,is_ds,is_smart,is_seres,is_cadillac,...,is_leasing,is_company,is_private,next_test_in,annual_licensing_fee,car_length,large,small,mini,medium
index,,,,,,,,,,,,,,,,,,,,,
1596,1608,1608,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.645547,0.764326,1,0,0,0
1322,1329,1329,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.188003,0.600759,0,0,0,1
1769,1782,1782,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.050377,0.652751,0,0,0,1
1188,1193,1193,0,0,0,0,0,0,0,0,...,1,0,0,0.583333,0.027266,0.493359,0,1,0,0
1161,1166,1166,0,0,0,0,0,0,0,0,...,0,0,1,0.833333,1.000000,0.489943,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1650,1650,0,0,0,0,0,0,0,0,...,0,0,1,0.333333,0.122825,0.518027,0,1,0,0
1095,1100,1100,0,0,0,0,0,0,0,0,...,0,0,1,0.416667,0.142041,0.813283,1,0,0,0
1130,1135,1135,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.295767,0.675522,0,0,0,1
1294,1300,1300,0,0,0,0,0,0,0,0,...,1,0,0,0.500000,0.241755,0.734345,0,0,0,1
860,865,865,0,0,0,0,0,0,0,0,...,0,0,0,0.916667,0.057647,0.485009,0,1,0,0

In [160]:
lin_reg = LinearRegression()
lin_reg = lin_reg.fit(x_train, x_target)

In [176]:
#This method check which cv gives the best score.
    #if we make this one a function -> the function will return the bestCV
m = 0
bestCV = 0

for i in np.arange(2, 30):
    ind = cross_val_score(lin_reg, x_train, x_target, cv=i)
    for j in ind:
        if j > m:
            m = j
            bestCV = i
    
print(m)
print("for cv =", bestCV)
#print (cross_val_score(lin_reg, x_train, x_target, cv=14)) #a method to print scores by cv.

0.9466276004516807
for cv = 28

# Dummy model trying

In [171]:
#Dummy-model method:
    #Checking the prices mean, and then its percent.
    #Count the prices that between (price+percent) and (price-percent), duo the price is a spesific number (10+ digits)
    #Divide those counted prices by the amount of prices.

x_target.mean() # 0.19357003724451638
x_target.mean()/100 # 0.0019357003724451637

maxLim = x_target.mean() + x_target.mean()/100
minLim = x_target.mean() - x_target.mean()/100

In [172]:
counter = x_target.where(x_target > minLim).where(x_target < maxLim).dropna().count()
print (counter / x_target.count())

0.014584891548242334

# trying