In [68]:
import numpy as np
import sklearn
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator , TransformerMixin

from sklearn.linear_model import LinearRegression

In [ ]:
class CombinedAttributesAdder(BaseEstimator , TransformerMixin):
    def fit(self , X , y=None):

In [14]:
x_train = pd.read_csv(r'C:\Users\avoav\Introduction to Data Science\Project סמסטר א\project-semester-a\ScaledTrainSet_data.csv' , index_col  = 'index')
x_train

,year,is_GAC,is_maserati,is_daihatsu,is_porsche,is_ds,is_smart,is_seres,is_cadillac,is_דודג',...,is_leasing,is_company,is_private,next_test_in,annual_licensing_fee,car_length,large,small,mini,medium
index,,,,,,,,,,,,,,,,,,,,,
2902,0.857143,0,0,0,0,0,0,0,0,0,...,0,0,1,0.500000,0.645547,0.562429,0,1,0,0
73,0.857143,0,0,0,0,0,0,0,0,0,...,0,0,1,0.833333,0.295767,0.798861,1,0,0,0
1537,0.809524,0,0,0,0,0,0,0,0,0,...,1,0,0,0.583333,0.188003,0.673624,0,0,0,1
2638,0.761905,0,0,0,0,0,0,0,0,0,...,1,0,0,0.166667,0.188003,0.592030,0,0,0,1
621,0.809524,0,0,0,0,0,0,0,0,0,...,0,0,1,0.416667,0.122825,0.588994,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,0.904762,0,0,0,0,0,0,0,0,0,...,1,0,0,0.416667,0.645547,0.798861,1,0,0,0
1095,0.476190,0,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.219683,0.733966,0,0,0,1
1130,0.809524,0,0,0,0,0,0,0,0,0,...,1,0,0,0.666667,0.188003,0.732827,0,0,0,1
1294,0.857143,0,0,0,0,0,0,0,0,0,...,1,0,0,0.416667,0.324591,0.679317,0,0,0,1
860,0.761905,0,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.437029,0.567742,0,1,0,0

# Cross-validation :

In [ ]:
#first we return the demi-model (the average) and try to be better than him....

In [63]:
x_target = pd.read_csv(r'C:\Users\avoav\Introduction to Data Science\Project סמסטר א\project-semester-a\TrainSet-target_data.csv' , index_col='index' )
x_target.mean() 
#demi-model : return  111097.128101

price    111097.128101
dtype: float64

In [64]:
# x_target[["price"]] = MinMaxScaler().fit_transform(x_target[["price"]]) 
# x_target = x_target["price"]
x_target

        price
index
2902   217000
73     169900
1537    94900
2638    76000
621     86500
...       ...
1638   192900
1095    83500
1130    78900
1294   137990
860    127000

[2701 rows x 1 columns]

In [65]:
#את הדאטה שהקדשנו לטריין אנחנו מפצלים שוב ע"מ לבחון את מודל הרגרסיה הלינארית עם רנדום 1

x_train1 , x_test1 , y_train1 , y_test1= sklearn.model_selection.train_test_split(x_train, x_target , test_size=0.1 , random_state = 1) 

lin_reg =  LinearRegression()
fit1= lin_reg.fit(x_train1, y_train1)
pred = fit1.predict(x_test1)
print (f"\n{pred}")
print (f"RMSA: {np.sqrt(mean_squared_error(y_test1 , pred))}\n")

[[ 26944. ]
 [ 53925.5]
 [162080. ]
 [ 77065.5]
 [103235.5]
 [ 13206.5]
 [113305. ]
 [ 46216.5]
 [108448. ]
 [ 44852.5]
 [456571.5]
 [136619. ]
 [ 26527.5]
 [106046.5]
 [113290.5]
 [216493.5]
 [ 12639.5]
 [ 25575. ]
 [ 20546. ]
 [ 83572.5]
 [ 66883.5]
 [142194. ]
 [ 67027. ]
 [ 67441. ]
 [ 78095.5]
 [128279.5]
 [ 45925.5]
 [ 43819.5]
 [ 49145.5]
 [376673.5]
 [ 56111.5]
 [126338.5]
 [ 46606.5]
 [ 90321.5]
 [ 43141. ]
 [127423.5]
 [ 83752. ]
 [ 72863.5]
 [ 54635.5]
 [ 43409.5]
 [186810.5]
 [ 66929. ]
 [134060. ]
 [ 77476.5]
 [ 68907. ]
 [332200. ]
 [ 84427.5]
 [ 57250. ]
 [ 46815.5]
 [106966.5]
 [348005.5]
 [ 62837.5]
 [ 62690.5]
 [202578. ]
 [ 64875.5]
 [ 69384.5]
 [ 83834. ]
 [272509.5]
 [ 97169.5]
 [ 96108.5]
 [112756.5]
 [ 86497. ]
 [143449.5]
 [139313.5]
 [ 17325.5]
 [ 96748.5]
 [ -5688.5]
 [ 78199. ]
 [ 53826. ]
 [ 18491. ]
 [149157.5]
 [122424.5]
 [133560. ]
 [134510. ]
 [ 61905.5]
 [107392.5]
 [ 45902. ]
 [107236. ]
 [ 46244.5]
 [109167.5]
 [ 77298. ]
 [  6740.5]
 [150907.5]
 [ 94586.5]
 [ 49667.5]
 [  6823. ]
 [220799. ]
 [169433. ]
 [162183.5]
 [120053. ]
 [127197. ]
 [100281. ]
 [439716.5]
 [ 99103. ]
 [136916.5]
 [-16542.5]
 [108698.5]
 [   811. ]
 [ 95721.5]
 [118374.5]
 [ 97144.5]
 [ 52642. ]
 [159208. ]
 [ 79172.5]
 [ 75079.5]
 [ 19295. ]
 [103053. ]
 [403647.5]
 [ 48331.5]
 [155810.5]
 [ 40407. ]
 [103693.5]
 [454146.5]
 [  7931.5]
 [ 58924. ]
 [ 36216.5]
 [182544.5]
 [119852.5]
 [ 93105.5]
 [ 30850. ]
 [ 89175.5]
 [116265.5]
 [ 67370. ]
 [ 69223.5]
 [ 39613. ]
 [ 30385. ]
 [ 46093.5]
 [ 53874.5]
 [123719. ]
 [ 89314.5]
 [ 63658.5]
 [308879.5]
 [107426.5]
 [109380. ]
 [130460. ]
 [ 51114. ]
 [  6597.5]
 [122647. ]
 [116825.5]
 [364824.5]
 [ 59782. ]
 [585062.5]
 [113006.5]
 [ 63133.5]
 [ 44414.5]
 [174772. ]
 [184203. ]
 [ 84094.5]
 [ 76291. ]
 [ 73548.5]
 [ 52799.5]
 [ 98877. ]
 [ 83292.5]
 [104605.5]
 [ 59157.5]
 [ -4805.5]
 [115945. ]
 [ -9520.5]
 [ 52830.5]
 [ 63173. ]
 [227297. ]
 [185873.5]
 [ 64174.5]
 [ 50842. ]
 [ 55282.5]
 [ 45272.5]
 [ 56028. ]
 [ 18578. ]
 [ 50793.5]
 [ 68434.5]
 [118972.5]
 [107693. ]
 [211261. ]
 [ 84248.5]
 [ 86879.5]
 [170836.5]
 [ 78383. ]
 [ 42333.5]
 [114195.5]
 [ 21112.5]
 [ 90838. ]
 [ 45609. ]
 [ -2333.5]
 [ 93619. ]
 [ 84446. ]
 [127733.5]
 [ 27927.5]
 [147658.5]
 [170488.5]
 [ 85976. ]
 [ 14769.5]
 [ 43703. ]
 [182704.5]
 [ 83437.5]
 [100588. ]
 [ 31593. ]
 [ 63262.5]
 [ 59789.5]
 [239547.5]
 [ 87564. ]
 [109962.5]
 [106089.5]
 [107155. ]
 [131181.5]
 [ 53145.5]
 [ 24125. ]
 [136878. ]
 [ 68611. ]
 [  3414.5]
 [165161.5]
 [ 15587.5]
 [ 82544.5]
 [ 69903. ]
 [127874.5]
 [ -5097. ]
 [ 21095.5]
 [138543.5]
 [ 75765.5]
 [ 81658.5]
 [ 46136. ]
 [168439. ]
 [ 99308.5]
 [ 50289. ]
 [ 46481.5]
 [ 81846.5]
 [140557.5]
 [ 69820. ]
 [164133.5]
 [157270.5]
 [ 83118. ]
 [ 66229.5]
 [ 11293. ]
 [ 53590.5]
 [169541. ]
 [ 19414. ]
 [ 79866.5]
 [ 48333. ]
 [101115. ]
 [ 27402.5]
 [ 43870. ]
 [120609.5]
 [ 25895. ]
 [ 21277. ]
 [ 42884.5]
 [114433. ]
 [233303.5]
 [130775.5]
 [116622.5]
 [ 49645.5]
 [117325.5]
 [  6998. ]
 [ 66765. ]
 [ 18885.5]
 [ 69852. ]
 [416640.5]
 [124855.5]
 [136418.5]
 [308879.5]
 [119063.5]
 [145815.5]
 [ 27636. ]
 [121131.5]
 [ 32048.5]
 [ 31308.5]
 [ 70682.5]
 [ 64118. ]
 [235842. ]
 [ 35870.5]
 [358498. ]
 [ 63266.5]
 [ 88289. ]]
RMSA: 48191.979709855936

In [67]:
y_test1

        price
index
1201    30000
2869    97900
2561    99900
258     59900
2858   109900
...       ...
1397   179900
661     46000
2445   290000
1087    65000
2825   109999

[271 rows x 1 columns]

In [ ]:

#מנסים להבין למה לא הצךלחנו לחזות טוב עם המודל שלנו... עוברים על המכוניות ידנית ורואים באילו מכוניות הטעויות הגדולות קרו
#ננסה לבנות עמודה שהקורלציה שלה עם המחיר תהיה גבוהה
#ננסה לשנות את ה"טראש הולד" של קביעת גודל המכונית ולהכניס מכוניות לקטגוריה "גדול" רק מסף גבוהה יותר

In [66]:
# scores = cross_val_score(lin_reg, x_train, x_target, scoring= 'neg_mean_squared_error' ,cv=3)
# np.sqrt(-scores)

array([1.01107624e+16, 4.78137929e+04, 1.33658746e+15])

In [70]:
x_train1 , x_test1 , y_train1 , y_test1= sklearn.model_selection.train_test_split(x_train, x_target , test_size=0.1 , random_state = 1) 

tree_reg =  DecisionTreeRegressor()
fit1 = tree_reg.fit(x_train1 , y_train1)
pred = fit1.predict(x_test1)
print (f"\n{pred}")
print (f"RMSA: {np.sqrt(mean_squared_error(y_test1 , pred))}\n")

[ 43000. 104900. 168000.  63500. 104900.  29000. 120990.  20900. 105000.
  47900. 435000. 124900.  26000.  85900. 121900. 138000.  32000.  54000.
  29000.  88000.  39900.  74920.  85500.  68412.  67000. 109900.  42540.
  37000. 104900. 435000.  64000.  99900.  42540. 119900.  52900.  96500.
  88000.  85000.  58000.  37400. 134990.  63000. 105000.  47000.  95000.
 219000.  63500.  79000.  46885. 139000. 269000.  62374.  72000. 131000.
  38000.  49500.  94900. 208000. 165900. 130000. 110000.  65000. 155000.
 178000.  25000.  98000.  35000.  89000.  32000.  29000. 135900. 105000.
 155000. 144900.  75900. 108900.  58500. 108900.  62500.  99000.  78900.
  39000. 158900.  79990. 195000.  39000. 175000. 188000.  79900.  82400.
 118000.  90000. 395000.  49000.  73900.  17999.  92000.  24900.  70000.
 122000. 118000.  60000. 120000.  69000.  85500.  50000. 120000. 430000.
  57000. 250000.  52000. 113000. 650000.  16000.  47900.  47900. 124900.
 120990.  91000.  41500. 101000.  91900.  71990.  69900.  34900.  34000.
  34000.  34500. 139000. 129900.  47900. 254900.  99000.  45999. 110000.
  43900.  45000. 102000. 139000. 469000.  85500.  77000. 101000.  57000.
  48558. 168000. 155000.  63000.  72040. 115600.  64000.  91500.  56000.
 103450.  56900.  34900. 109000.  17000.  53900.  61000. 120000. 126900.
  67000.  35000.  49000.  74900.  43999.  36900.  39900.  90000. 109900.
  66000. 199900. 122000.  95000. 185000.  62000.  42900. 109900.  31900.
  79900.  35000.  19999. 119900. 180000. 125000.  32000. 128000. 117500.
  82000.  21900.  45000. 189500.  86000.  97000.  85000.  49500.  62400.
 215000. 124900.  92000. 119900.  74500. 145000.  74900.  44900. 133900.
  52900.  20000. 132000.  23000.  79000.  66900. 115900.  35999.  35000.
 131900.  82988.  97900.  49945. 187000.  95999.  29900.  68000.  83900.
 120000.  57000. 152900. 128000.  80900.  55000.  39500.  64000. 195000.
  47900.  45999.  41000.  96900.  34000.  49130. 124900.  42900.  24900.
  52900. 115000. 219000.  39900. 109000.  42500. 127900.  39000.  82900.
  31900.  49999. 314999. 168000. 125000. 254900. 101000. 125000.  83000.
 109900.  32000.  22000. 100000.  67078. 217000.  67900. 420000.  74900.
  99999.]
RMSA: 32126.192912163126