In [322]:
import numpy as np
import sklearn
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator , TransformerMixin
from sklearn import preprocessing
from sklearn import utils
from sklearn.linear_model import LinearRegression
import joblib
from sklearn.model_selection import GridSearchCV

In [288]:
x_train = pd.read_csv(r'C:\Users\avoav\Introduction to Data Science\Project סמסטר א\project-semester-a\ScaledTrainSet_data.csv' , index_col  = 'index')
x_train

,year,is_GAC,is_maserati,is_daihatsu,is_porsche,is_ds,is_smart,is_seres,is_cadillac,is_דודג',...,is_leasing,is_company,is_private,next_test_in,annual_licensing_fee,car_length,large,small,mini,medium
index,,,,,,,,,,,,,,,,,,,,,
1608,0.952381,0,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.645547,0.764326,1,0,0,0
1329,0.761905,0,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.188003,0.600759,0,0,0,1
1782,0.333333,0,0,0,0,0,0,0,0,0,...,0,0,1,0.166667,0.050377,0.652751,0,0,0,1
1193,0.523810,0,0,0,0,0,0,0,0,0,...,1,0,0,0.583333,0.027266,0.493359,0,1,0,0
1166,1.000000,0,0,0,0,0,0,0,0,0,...,0,0,1,0.833333,1.000000,0.489943,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650,0.809524,0,0,0,0,0,0,0,0,0,...,0,0,1,0.333333,0.122825,0.518027,0,1,0,0
1100,0.428571,0,0,0,0,0,0,0,0,0,...,0,0,1,0.416667,0.142041,0.813283,1,0,0,0
1135,0.714286,0,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.295767,0.675522,0,0,0,1
1300,0.857143,0,0,0,0,0,0,0,0,0,...,1,0,0,0.500000,0.241755,0.734345,0,0,0,1
865,0.761905,0,0,0,0,0,0,0,0,0,...,0,0,0,0.916667,0.057647,0.485009,0,1,0,0

# Cross-validation :

In [84]:
#first we return the demi-model (the average) and try to be better than him....

In [287]:
x_target = pd.read_csv(r'C:\Users\avoav\Introduction to Data Science\Project סמסטר א\project-semester-a\TrainSet-target_data.csv' , index_col='index' )
x_target.mean()

price    104849.31825
dtype: float64

In [282]:
x_target

        price
index
1608   239000
1329    69900
1782   100000
1193    33000
1166   437320
...       ...
1650    75000
1100    29000
1135   110000
1300   110000
865     41000

[2674 rows x 1 columns]

In [283]:
#את הדאטה שהקדשנו לטריין אנחנו מפצלים שוב ע"מ לבחון את מודל הרגרסיה הלינארית עם רנדום 1

x_train1 , x_test1 , y_train1 , y_test1= sklearn.model_selection.train_test_split(x_train, x_target , test_size=0.1 , random_state = 2) 

lin_reg =  LinearRegression()
fit1= lin_reg.fit(x_train1, y_train1)

pred = fit1.predict(x_test1)
print (f"\n{pred}")
print (f"RMSA: {np.sqrt(mean_squared_error(y_test1 , pred))}\n")
#print ( "accuracy_score: "

[[106496.]
 [110592.]
 [ 82560.]
 [351872.]
 [108800.]
 [ 40192.]
 [107776.]
 [101248.]
 [ 98688.]
 [ 55552.]
 [ 92800.]
 [ 94592.]
 [231040.]
 [264448.]
 [124416.]
 [114560.]
 [ 46976.]
 [118656.]
 [272384.]
 [ 69376.]
 [ 46976.]
 [210176.]
 [103680.]
 [ 60544.]
 [ 89216.]
 [ 98048.]
 [ 99456.]
 [ 98944.]
 [118016.]
 [250752.]
 [232960.]
 [ 96128.]
 [180096.]
 [131456.]
 [ 85760.]
 [ 96512.]
 [107520.]
 [ 90496.]
 [275712.]
 [ -1152.]
 [ 46976.]
 [ 88192.]
 [ 87168.]
 [ 61056.]
 [119424.]
 [145792.]
 [ 31744.]
 [ 98944.]
 [ 58880.]
 [142208.]
 [ 64640.]
 [ 36992.]
 [280960.]
 [101248.]
 [139520.]
 [182400.]
 [ 18304.]
 [104704.]
 [305920.]
 [ 53760.]
 [ 52992.]
 [ 93056.]
 [ 33024.]
 [114176.]
 [111872.]
 [ 35456.]
 [ 65408.]
 [102016.]
 [ 48128.]
 [ 66944.]
 [ 32384.]
 [113408.]
 [ 89472.]
 [108160.]
 [ 27008.]
 [ 51072.]
 [130432.]
 [ 16512.]
 [ 68992.]
 [310912.]
 [ 38144.]
 [ 72576.]
 [ 27008.]
 [ 59392.]
 [ 75904.]
 [ 51840.]
 [ 36096.]
 [ 58624.]
 [ 38528.]
 [ 15616.]
 [ 58496.]
 [ 59520.]
 [ 61696.]
 [ 41984.]
 [ 84352.]
 [136704.]
 [160000.]
 [130944.]
 [ 59008.]
 [ 86144.]
 [109824.]
 [169088.]
 [ 75776.]
 [186624.]
 [172672.]
 [152448.]
 [ 34304.]
 [ 97536.]
 [ 60800.]
 [ 43904.]
 [121856.]
 [ 74368.]
 [133248.]
 [ 42624.]
 [343680.]
 [106496.]
 [ 20992.]
 [110848.]
 [ 93568.]
 [121856.]
 [ 93312.]
 [264064.]
 [ 50688.]
 [ 47616.]
 [ 55680.]
 [152192.]
 [336512.]
 [213504.]
 [ 38144.]
 [285824.]
 [236416.]
 [ 71808.]
 [  6272.]
 [109568.]
 [251264.]
 [ 88448.]
 [ 40448.]
 [224896.]
 [ 92160.]
 [198400.]
 [103296.]
 [124800.]
 [ 98304.]
 [172032.]
 [109312.]
 [114688.]
 [ 12416.]
 [105856.]
 [123520.]
 [183040.]
 [ 80128.]
 [122240.]
 [ 34688.]
 [ 61056.]
 [ 94592.]
 [124544.]
 [117760.]
 [ 11136.]
 [133248.]
 [-12928.]
 [217344.]
 [171904.]
 [390528.]
 [250496.]
 [114944.]
 [114816.]
 [ 59648.]
 [242048.]
 [161280.]
 [132736.]
 [ 42112.]
 [ 71168.]
 [ 41216.]
 [ 87808.]
 [ 82688.]
 [145792.]
 [ 70784.]
 [279168.]
 [ 59904.]
 [ 92416.]
 [ 67584.]
 [199552.]
 [129536.]
 [ 55424.]
 [119040.]
 [ 66176.]
 [ 55168.]
 [170496.]
 [118528.]
 [104576.]
 [ 16640.]
 [ 86528.]
 [ 99328.]
 [ 82816.]
 [-21632.]
 [ 97536.]
 [ 96128.]
 [102528.]
 [ 47616.]
 [ 62720.]
 [238720.]
 [117888.]
 [127104.]
 [ 84352.]
 [ 73600.]
 [151552.]
 [250496.]
 [105216.]
 [175872.]
 [169600.]
 [ 80640.]
 [197120.]
 [ 54272.]
 [169856.]
 [115584.]
 [136320.]
 [ 21248.]
 [125568.]
 [ 96128.]
 [120448.]
 [147072.]
 [100224.]
 [145152.]
 [168448.]
 [122368.]
 [ 96640.]
 [ 48128.]
 [182784.]
 [163328.]
 [ 91008.]
 [147328.]
 [153472.]
 [ 84096.]
 [104960.]
 [ 47616.]
 [ 47232.]
 [113664.]
 [114304.]
 [ 88064.]
 [223488.]
 [ 92288.]
 [ -2944.]
 [ 97152.]
 [ 53888.]
 [ 24320.]
 [122624.]
 [353792.]
 [105472.]
 [143872.]
 [102144.]
 [ 74112.]
 [ 31616.]
 [125056.]
 [125440.]
 [108800.]
 [114944.]
 [179584.]
 [100352.]
 [ 94592.]
 [136960.]
 [162560.]
 [ 21888.]
 [142592.]
 [ 65536.]
 [ 77440.]
 [ 84608.]
 [142080.]
 [ 17792.]]
RMSA: 28227.5232476041

In [273]:
y_test1

index
2465    0.193878
1555    0.189796
2996    0.183673
60      0.836735
1499    0.224490
          ...
772     0.103878
445     0.193673
2124    0.142653
1942    0.259184
24      0.030612
Name: price, Length: 268, dtype: float64

In [232]:

#מנסים להבין למה לא הצךלחנו לחזות טוב עם המודל שלנו... עוברים על המכוניות ידנית ורואים באילו מכוניות הטעויות הגדולות קרו
#ננסה לבנות עמודה שהקורלציה שלה עם המחיר תהיה גבוהה
#ננסה לשנות את ה"טראש הולד" של קביעת גודל המכונית ולהכניס מכוניות לקטגוריה "גדול" רק מסף גבוהה יותר

In [359]:
dir(grid_search)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [331]:
param_grid_LR = [  {'C' : [1 ,3 ,5] ,  'kernel': ['linear' , 'rbf']} ]

grid_search = GridSearchCV(svm.SVC(gamma = 'auto') , param_grid_LR , cv = 3,
                                   scoring = 'neg_mean_squared_error' , return_train_score = False)
grid_search.fit(x_train1, y_train1)
df = pd.DataFrame(grid_search.cv_results_)
df[['param_c' , 'param_kernel'  'mean_test_score']]

C:\Users\avoav\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,1.433285,0.065377,3.177610,0.044220,1,linear,"{'C': 1, 'kernel': 'linear'}",-27635.061097,-23963.278055,-26797.017456,-26131.785536,1571.071356,3
1,1.327727,0.131845,2.644576,0.218621,1,rbf,"{'C': 1, 'kernel': 'rbf'}",-56266.374065,-54229.526185,-56670.743142,-55722.214464,1068.321834,6
2,1.375539,0.087209,2.883136,0.078094,3,linear,"{'C': 3, 'kernel': 'linear'}",-24892.697007,-24003.453865,-25432.391521,-24776.180798,589.150646,2
3,1.213424,0.011567,2.455896,0.136535,3,rbf,"{'C': 3, 'kernel': 'rbf'}",-45028.265586,-41198.188279,-53639.049875,-46621.834580,5202.458132,5
4,1.438487,0.092901,2.970177,0.108769,5,linear,"{'C': 5, 'kernel': 'linear'}",-24006.097257,-22462.283042,-23365.760599,-23278.046966,633.303952,1
5,1.284117,0.056789,2.664433,0.046811,5,rbf,"{'C': 5, 'kernel': 'rbf'}",-40080.780549,-38201.523691,-48348.706983,-42210.337074,4407.765151,4

In [334]:
print ("best score :" , grid_search.best_score_)
print ("best params:" , grid_search.best_params_)

best score : -23278.046965918536
best params: {'C': 5, 'kernel': 'linear'}

In [317]:
# השתמשתי ע"מ לסדר את עמודת המחירים של הטריין בפונקציה הזו 
lab_enc = preprocessing.LabelEncoder()
x_target = lab_enc.fit_transform(x_target)
print(utils.multiclass.type_of_target(x_target))

clf = svm.SVC(kernel='linear', C=1, random_state=2).fit(x_train ,np.ravel(x_target, order = 'C') )
scores = cross_val_score(clf, x_train , x_target, cv=3)
scores

multiclass

C:\Users\avoav\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

array([0.03475336, 0.02693603, 0.03030303])

In [328]:
# x_target[["price"]] = MinMaxScaler().fit_transform(x_target[["price"]]) 
# x_target = x_target["price"]
def display_scores(scores):
    print ("scores:",  scores)
    print("Mean:" , scores.mean() )
    print ("Standard deviation:" , scores.std()) 
    
    
lin_reg =  LinearRegression()
lin_reg = lin_reg.fit(x_train, x_target)

#חלק מהתוצאות טובות מאוד! 9 , כלומר אחוזי דיוק גבוהים ולכן צריכים לברר איך אנו משיגים את המספר המדוייק שיגרום לתוצאה כזו גם בריצה של הטסט.

scores = cross_val_score(lin_reg, x_train ,x_target ,  scoring = "neg_mean_squared_error", cv=10)
#linReg_rmse_scores = np.sqrt(-scores)

#display_scores(linReg_rmse_scores)
display_scores(scores)
print ("score:" , lin_reg.score(x_test1 , y_test1))

scores: [-6.61573891e+03 -4.87896996e+03 -4.88752783e+03 -5.51820028e+03
 -5.27024251e+03 -5.51429670e+03 -4.60527685e+03 -7.56388600e+03
 -3.21313698e+27 -5.52475954e+26]
Mean: -3.765612929155548e+26
Standard deviation: 9.59765327051744e+26
score: 0.8707010691430079

In [327]:
x_train1 , x_test1 , y_train1 , y_test1= sklearn.model_selection.train_test_split(x_train, x_target , test_size=0.1 , random_state = 2) 


tree_reg =  DecisionTreeRegressor()
fit1 = tree_reg.fit(x_train1 , y_train1)
pred = fit1.predict(x_test1)
#print (f"\n{pred}")
print (f"RMSA: {np.sqrt(mean_squared_error(y_test1 , pred))}\n")
print ("score:" , tree_reg.score(x_test1 , y_test1))

RMSA: 74.60243508690264

score: 0.8700715316902132

In [369]:
param_grid_DT = [{'splitter' : ['best' , "random"] , 'max_features':[10, 15 ,20 , 40] , 'min_samples_split': [2 , 3 , 5, 15]}
                ]
grid_search = GridSearchCV(tree_reg , param_grid_DT , cv = 3,
                                   scoring = 'neg_mean_squared_error' , return_train_score = False)
grid_search.fit(x_train1, y_train1)
df = pd.DataFrame(grid_search.cv_results_)

df[['param_max_features' , 'param_min_samples_split' , 'param_splitter' , 'params' , 'mean_test_score']]

print ("best score :" , grid_search.best_score_)
print ("best params:" , grid_search.best_params_)

best score : -5579.592049967673
best params: {'max_features': 40, 'min_samples_split': 5, 'splitter': 'random'}

In [290]:
# שמירה של המודל: 
tree_model =  DecisionTreeRegressor()
tree_model.fit(x_train1 , y_train1)
joblib.dump(tree_model , 'tree-model_1.joblib')

#שימוש במודל קיים : 
model = joblib.load('tree-model_1.joblib')
pred = model.predict(x_test1)
pred

array([ 99000., 108500.,  90000., 445000.,  76000.,  38900., 117000.,
       113900.,  95000.,  52000.,  93000.,  97000., 168000., 420000.,
        99000., 112900.,  39000., 116770., 264355.,  60000.,  53358.,
       245000., 100900.,  53000.,  95000.,  69900., 115000.,  89900.,
       121000., 227000., 285000., 106102., 180000., 108000., 101000.,
       112900.,  92000.,  89000., 420000.,  18000.,  54000.,  87900.,
        76900.,  46000., 116500., 125000.,  55000., 106102.,  36000.,
       168000.,  74000.,  40255., 254900., 113000., 134000., 175900.,
        15900., 112900., 430000.,  50000.,  58000.,  79900.,  23900.,
       115000., 109900.,  35000.,  53900.,  91500.,  41000.,  67000.,
        37460., 109999.,  89000.,  91500.,  32000.,  43450.,  88000.,
        19000.,  68412., 479000.,  49900.,  64000.,  20900.,  75500.,
        82000.,  75900.,  59900.,  59000.,  49900.,  32000.,  73000.,
        51900.,  58000.,  15900.,  79900.,  67000., 168000., 112900.,
        45000.,  89900.,  94900., 162000.,  69000., 134000., 191124.,
       106500.,  39000.,  92900.,  52900.,  27000., 108000.,  76900.,
       128000.,  44900., 500000., 112000.,  32000., 119900.,  82900.,
       112900.,  88000., 255000.,  36250.,  35900.,  59900., 162000.,
       379000., 155000.,  52844., 266355., 155000.,  64000.,  20000.,
       111019., 275000.,  57500.,  44000., 187900., 119000., 180000.,
       129367., 125000., 122900., 128900.,  97900., 119900.,  34000.,
       100000., 112000., 195000., 105271., 118000.,  37872.,  50900.,
       103000., 115000., 109900.,  43900., 112900.,  35000., 222000.,
       125000., 435000., 229500., 121900., 115000.,  37000., 225000.,
       158000., 164000.,  42900.,  72000.,  50000.,  76900.,  59900.,
       128000.,  65000., 319000.,  55000.,  89500.,  60000., 228000.,
       116900.,  35800., 134000.,  63900.,  25400., 104900., 115000.,
       110990.,  22000.,  90900., 110000.,  79000.,  51000.,  79500.,
        29000.,  72900.,  50180.,  76500., 165000., 125000., 107000.,
       131000.,  72000., 162000., 275000.,  88000., 131000., 199900.,
        49000., 187000.,  50000., 196000., 113710.,  90000.,  18900.,
        92000.,  84500., 117000., 134000.,  87900., 168500., 137000.,
       132000.,  83900.,  47000., 158000., 139000.,  99000., 127000.,
       150950., 102760.,  76500.,  44900., 310000.,  66900., 117900.,
        92000., 275000.,  84000.,  12999., 112000.,  46500.,  38000.,
       123000., 385000., 111019., 144000.,  57000.,  76900.,  28000.,
       132000., 119000.,  92000., 121500., 109500., 109900., 108900.,
       115500., 149000.,  30000., 172000.,  57900.,  94900.,  69000.,
       135000.,  42900.])

In [235]:
 # יש שיפור אבל לא מספיק... גם אחרי שהחלטנו לנסות למחוק את התוצאות הקיצוניות מהטבלה.

In [355]:
 # בדיקת מודל אפס: 

def targetTransform(len_target):
    target_ = np.zeros(len_target)
    for i in range (len_target):
        target_[i] +=  x_target.mean()
    return target_

x_train1 , x_test1 , y_train1 , y_test1= sklearn.model_selection.train_test_split(x_train, x_target , test_size=0.1 , random_state = 2) 

pred = targetTransform(len(y_test1))
#print (f"\n{pred}")
print (f"RMSE: {np.sqrt(mean_squared_error(y_test1 , pred))}")

score

RMSE: 208.91294681993415

0.8460227694638253

In [ ]:
# אפשר לראות שאם נשתמש ב"מודל אפס" שמחזיר פשוט את הממוצע של המחירים בטבלה
#הטעות חמורה בהרבה מאשר במודל שלנו.

In [237]:
m = 0
whatCV = 0

for i in np.arange(2, 40):
    ind = cross_val_score(lin_reg, x_train, x_target, cv=i)
    for j in ind:
        if j > m:
            m = j
            whatCV = i
    
print(m)
print("for cv=", i)
# cv=39 זהו ההיפר משתנה הכי טוב שלנו ברגרסיה ליניארית

0.9545137277864899
for cv= 39

In [318]:
# y_test1[["price"]] = MinMaxScaler().fit_transform(y_test1[["price"]])
# y_test1 = y_test1[["price"]]

In [ ]:
#create pipeline:
#pipe = sklearn.pipeline.Pipeline(steps = [('My_model' , ExperimentalTransformer() )])
#pipe.fit(x_train1 , y_train1)
#pred = pipe.transform(y_test1)

# class ExperimentalTransformer(BaseEstimator , TransformerMixin):
#     def _init_ (self , ):
#         print('\n>>>init() called.\n')
#     def fit (self , target , y = None):
#         return self
#     def transform (self , X , y = None):
#         x_ = X.copy()
#         x_.price= x_target.mean()
#         return x_

In [353]:
X_train, X_test, y_train, y_test = train_test_split(x_train,x_target , test_size=0.20, random_state=4)

names = ["Decision Tree", "Linear Regression", "zero model"]

param_grid_DT = [{'splitter' : ['best' , "random"] , 'max_features':[2 , 10 ,20] , 'min_samples_split': [2 , 3 , 5]}
                ]
param_grid_LR =  [  {'C' : [1 ,3 ,5] ,  'kernel': ['linear' , 'rbf']} ]

classifiers = [
    DecisionTreeRegressor()
   , LinearRegression() ]

score = 0
for name, clf in zip(names, classifiers):
    if name == "Decision Tree":
        clf = DecisionTreeRegressor()
        grid_search = GridSearchCV(clf, param_grid=param_grid_DT)
        grid_search.fit(X_train, y_train)
        if grid_search.best_score_ > score:
            score = grid_search.best_score_
            best_clf = grid_search
    elif name == "Linear Regression":
        clf = svm.SVC(gamma = 'auto')
        grid_search = GridSearchCV(clf, param_grid_LR , cv = 3,
                                   scoring = 'neg_mean_squared_error' , return_train_score = True)
        grid_search.fit(X_train, y_train)
        if grid_search.best_score_ > score:
            score = grid_search.best_score_
            best_clf = grid_search


print("best classifier: ", best_clf, " Accuracy= ", score)

C:\Users\avoav\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

best classifier:  GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid=[{'max_features': [2, 10, 20],
                          'min_samples_split': [2, 3, 5],
                          'splitter': ['best', 'random']}])  Accuracy=  0.8460227694638253